

.containerOn{
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFA500;
}

.containerIn{
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000080;
  color: #FFA500;
  border-radius: 1rem;
}

.containerIn p{
  font-size: 25px;
}
